brotlipy==0.7.0
databricks-cli==0.17.4
ipykernel
ipython==8.7.0
jupyter_client==7.0.6
jupyter_core==5.1.0
matplotlib-inline==0.1.6
mlflow==1.2.0
numpy==1.21.5
oauthlib==3.2.2
packaging==22.0
pandas==1.5.2
paramiko==2.12.0
scikit-learn==1.1.1
scipy==1.7.3
setuptools==65.5.0
traitlets==5.8.0